docker.enabled = true

params {
    k_dbg = 31
    n_primers = 5
    minlen = 400
    maxlen = 4000

    filter = true
    k_sketch = 51
    n_sketch = 1000
    maxsim = 0.95

    outdir = 'results'

    // include = 'klebsiella_ukl_subset/*.fasta'
    // exclude = 'klebsiella_euscape/*.fna.gz'
    // exclude = null
}
